<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
    <div class="wrapper">
        <!--header-->
        <div class="header">
            <img class="ave" src="assets/img/av.jpg">
            <h1 class="logo">Kynareth</h1>
            <br>
            <div id="ytmp">
                <p class="song">Taska Black - Nothing Lasts</p>
                <div class="controls">
                    <i id="prev" class="fa fa-backward"></i>
                    <i id="play" class="fa fa-play"></i>
                    <i id="pause" class="fa fa-pause" style="display:none"></i>
                    <i id="next" class="fa fa-forward"></i>
                </div>
            </div>
            <div class="motd">Hello there, meow meow! 😽</div>
        </div>
        <!--navigation-->
        <div class="navigation">
            <ul>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Скрипты</a></li>
                <li><a href="#">Цитатник</a></li>
            </ul>
        </div>
        <!--page-->
        <div class="main">
          {{ content }}
        </div>
    </div>
</body>
</html>
